<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "KNCT" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>



  <div id="user_nav">
<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1><%= link_to "KNCT Exchange Program", root_path%></h1>
    </li>
     <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
    <li class="inactive"><%= link_to ' Home', root_path ,:class=>"fi-home"%></li>
    <% if user_signed_in? %>
      <li class="active"><%= link_to "#{current_user.email}", edit_user_registration_path %></a></li>
      <li class="inactive"><%= link_to 'New Post', new_post_path %></li>
      <li class="inactive"><%= link_to 'My Post', posts_path %></li>
      <li class="inactive"><%= link_to "Sign out", destroy_user_session_path, :method => :delete %></a>
      </li>
<% else %>
      <li class="active"><%= link_to "Sign up", new_user_registration_path %></li>
      <li class="inactive"><%= link_to "sign in", new_user_session_path %>
      </li>
    </ul>
    <% end %>

  </section>
</nav>

<% if notice%>
<div data-alert class="alert-box">
    <%= notice %>
  <a href="#" class="close">&times;</a>
</div>
<% end%>

<% if alert%>
<div data-alert class="alert-box alert">
    <%= alert %>
  <a href="#" class="close">&times;</a>
</div>
<% end%>

        
        
    <%= yield %>


    <%= javascript_include_tag "application" %>
  </body>
</html>